#zaglavlje {
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    height: 100px;
}

.z-10 { 
    z-index: 10;
}

nav {
    width: calc(100% - 241px);
    transform: translateX(-120px);
    display: flex;
    justify-content: center;
}

header ul {
    padding: 0;
    display: flex;
    list-style: none;
}

header ul li {
    padding: 15px;
    justify-content: space-between;
    background-color: antiquewhite;
    border: 2px solid black;
    height: 20px;
}