// varijable
$color-1: #eee;
$color-2: #333;
$color-3: #800;
$color-4: #ff6;

$font-1: Tahoma, sans-serif;
$font-2: Courier, monospace;

body {
    background-color: $color-1;
    color: $color-2;
    font-family: $font-1;
}

a {
    font-family: $font-2;
}

article {
    border:  2px solid $color-3;
    margin: 1em;
}

/* nesting */
header {
    text-align: center;
    h1 {
        color: $color-3;
    }
    p {
        font-size: 20px;
    }
    a {
        color: $color-3;
    }
}

section {
    h1 {
        font-family: $font-2;
    }
    a {
        color: $color-3;
    }
    article {
        padding: 10px;
        background-color: $color-3;
        p {
            color: $color-1;
        }
        a {
            color: $color-4;
        }
    }
}

footer {
    h1 {
        color: $color-2;
    }
    a {
        color: $color-2;
        font-size: 20px;
    }
}
